*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.gradle/
build/
*/build/
local.properties

.cxx/
.externalNativeBuild/

.DS_Store
Thumbs.db

*.apk
*.ap_
*.dex
*.class

captures/
